version: '3.7'

services:
  vue-app:
    build:
      context: .
      dockerfile: Dockerfile  # Путь к твоему Dockerfile
    container_name: vue-app
    ports:
      - "8888:8888"    # Пробрасываем порт 80 внутри контейнера на порт 8080 хоста
      - "8443:8443"   # Пробрасываем порт 443 внутри контейнера на порт 8443 хоста
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf  # Твой конфиг для Nginx
    networks:
      - webnet

  certbot:
    image: certbot/certbot
    container_name: certbot
    volumes:
      - ./certbot/conf:/etc/letsencrypt  # Храним сертификаты
      - ./certbot/www:/var/www/certbot   # Для валидации
    entrypoint: "/bin/sh -c 'trap exit TERM; while :; do certbot renew; sleep 12h & wait $${!}; done;'"
    networks:
      - webnet

networks:
  webnet:
    driver: bridge