version: '3.8'

services:
  vue-app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: vue-app
    restart: unless-stopped
    # Открываем порт только для локального хоста, чтобы из интернета нельзя было зайти на порт 8080 напрямую, минуя HTTPS
    ports:
      - "127.0.0.1:8080:80"
    # Эта настройка нужна, чтобы изнутри контейнера видеть API на хосте (ваши 5000 порт)
    extra_hosts:
      - "host.docker.internal:host-gateway"