version: '3.8'

services:
  vue-app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: vue-app
    ports:
      - "8888:80"
      - "8443:443"  # Открываем порт 443 для HTTPS
    volumes:
      - ./data/certbot/conf:/etc/letsencrypt
      - ./data/certbot/www:/var/www/certbot
    environment:
      - VIRTUAL_HOST=insurka.ru
      - LETSENCRYPT_HOST=insurka.ru
      - LETSENCRYPT_EMAIL=insur.kunafin@yandex.ru
    depends_on:
      - certbot

  certbot:
    image: certbot/certbot
    container_name: certbot
    volumes:
      - ./data/certbot/conf:/etc/letsencrypt
      - ./data/certbot/www:/var/www/certbot
    entrypoint: "/bin/sh -c 'trap exit TERM; certbot certonly --webroot -w /var/www/certbot -d $${LETSENCRYPT_HOST} --email $${LETSENCRYPT_EMAIL} --agree-tos --no-eff-email && tail -f /dev/null'"
    environment:
      - LETSENCRYPT_HOST=insurka.ru
      - LETSENCRYPT_EMAIL=insur.kunafin@yandex.ru