:root {
  /* containers */
  --surface-container-lowest100: #FFFFFF;
  --surface-container-low96: #F5F2FA;
  --surface-container-default94: #EFEDF4;
  --surface-container-high92: #E9E7EF;
  --surface-container-highest90: #E4E1E9;
  /* light */
  --primary-light: #4b57a9;
  --on-primary-light: #ffffff;
  --primary-container-light: #dfe0ff;
  --on-primary-container-light: #000d5f;
  --secondary-light: #00639b;
  --on-secondary-light: #ffffff;
  --secondary-container-light: #cee5ff;
  --on-secondary-container-light: #001d33;
  --tertiary-light: #8e437e;
  --on-tertiary-light: #ffffff;
  --tertiary-container-light: #ffd7f0;
  --on-tertiary-container-light: #3a0032;
  --error-light: #ba1a1a;
  --error-container-light: #ffdad6;
  --on-error-light: #ffffff;
  --on-error-container-light: #410002;
  --background-light: #fffbff;
  --on-background-light: #251a00;
  --surface-light: #fffbff;
  --on-surface: #1B1B21;
  --on-surface-rgb: 27, 27, 33;
  --on-surface-light: #251a00;
  --on-surface-disabled: #dadada;
  --surface-variant-light: #e3e1ec;
  --on-surface-variant-light: #46464f;
  --outline-light: #767680;
  --inverse-on-surface-light: #ffefd3;
  --inverse-surface-light: #3f2e00;
  --inverse-primary-light: #bbc3ff;
  --shadow-light: #000000;
  --surface-tint-light: #4b57a9;
  --outline-variant-light: #c7c5d0;
  --scrim-light: #000000;

  --primary100: #fff;
  --primary99: #fffbff;
  --primary98: #fbf8ff;
  --primary95: #f0efff;
  --primary90: #dfe0ff;
  --primary80: #bbc3ff;
  --primary70: #9fa7e5;
  --primary60: #858dc8;
  --primary50: #6b73ad;
  --primary40: #525a92;
  --primary35: #464e85;
  --primary30: #3a4279;
  --primary25: #2f376d;
  --primary20: #232c61;
  --primary15: #182056;
  --primary10: #0c154b;
  --primary5: #010841;
  --primary0: #000;
  --secondary100: #fff;
  --secondary99: #fcfcff;
  --secondary98: #f7f9ff;
  --secondary95: #e8f2ff;
  --secondary90: #cee5ff;
  --secondary80: #9bcbfb;
  --secondary70: #80b0de;
  --secondary60: #6595c2;
  --secondary50: #4a7ba6;
  --secondary40: #2f628c;
  --secondary35: #20567f;
  --secondary30: #0e4a73;
  --secondary25: #003e64;
  --secondary20: #003353;
  --secondary15: #002843;
  --secondary10: #001d33;
  --secondary5: #001222;
  --secondary0: #000;
  --tertiary100: #fff;
  --tertiary99: #fffbff;
  --tertiary98: #fff7f9;
  --tertiary95: #ffecf5;
  --tertiary90: #ffd7f0;
  --tertiary80: #f5b2e1;
  --tertiary70: #d897c5;
  --tertiary60: #bb7da9;
  --tertiary50: #9e648f;
  --tertiary40: #834c75;
  --tertiary35: #754068;
  --tertiary30: #68355c;
  --tertiary25: #5b2950;
  --tertiary20: #4e1e44;
  --tertiary15: #421339;
  --tertiary10: #35072e;
  --tertiary5: #270022;
  --tertiary0: #000;
  --error100: #fff;
  --error99: #fffbff;
  --error98: #fff8f7;
  --error95: #ffedea;
  --error90: #ffdad6;
  --error80: #ffb4ab;
  --error70: #ff897d;
  --error60: #ff5449;
  --error50: #de3730;
  --error40: #ba1a1a;
  --error35: #a80710;
  --error30: #93000a;
  --error25: #7e0007;
  --error20: #690005;
  --error15: #540003;
  --error10: #410002;
  --error5: #2d0001;
  --error0: #000;
  --neutral100: #fff;
  --neutral99: #fffbff;
  --neutral98: #fff8f2;
  --neutral95: #f6f0ea;
  --neutral90: #e8e1dc;
  --neutral80: #cbc5c0;
  --neutral70: #b0aaa5;
  --neutral60: #95908b;
  --neutral50: #7b7672;
  --neutral40: #625e59;
  --neutral35: #55524e;
  --neutral30: #4a4642;
  --neutral25: #3e3b37;
  --neutral20: #33302c;
  --neutral15: #282522;
  --neutral10: #1e1b18;
  --neutral5: #13110d;
  --neutra0: #000;
  --neutral-variant100: #fff;
  --neutral-variant99: #fffbff;
  --neutral-variant98: #fff8f2;
  --neutral-variant95: #f9efe3;
  --neutral-variant90: #eae1d6;
  --neutral-variant80: #cec5ba;
  --neutral-variant70: #b2aa9f;
  --neutral-variant60: #979086;
  --neutral-variant50: #7d766d;
  --neutral-variant40: #645e54;
  --neutral-variant35: #575249;
  --neutral-variant30: #4b463e;
  --neutral-variant25: #403b33;
  --neutral-variant20: #343028;
  --neutral-variant15: #2a251e;
  --neutral-variant10: #1f1b14;
  --neutral-variant5: #14100a;
  --neutral-variant0: #000;

  /* display - large */
  --display-large-font-family-name: Roboto;
  --display-large-font-family-style: Regular;
  --display-large-font-weight: 400px;
  --display-large-font-size: 57px;
  --display-large-line-height: 64px;
  --display-large-letter-spacing: -0.25px;
  /* display - medium */
  --display-medium-font-family-name: Roboto;
  --display-medium-font-family-style: Regular;
  --display-medium-font-weight: 400px;
  --display-medium-font-size: 45px;
  --display-medium-line-height: 52px;
  --display-medium-letter-spacing: 0px;
  /* display - small */
  --display-small-font-family-name: Roboto;
  --display-small-font-family-style: Regular;
  --display-small-font-weight: 400px;
  --display-small-font-size: 36px;
  --display-small-line-height: 44px;
  --display-small-letter-spacing: 0px;
  /* headline - large */
  --headline-large-font-family-name: Roboto;
  --headline-large-font-family-style: Regular;
  --headline-large-font-weight: 400px;
  --headline-large-font-size: 32px;
  --headline-large-line-height: 40px;
  --headline-large-letter-spacing: 0px;
  /* headline - medium */
  --headline-medium-font-family-name: Roboto;
  --headline-medium-font-family-style: Regular;
  --headline-medium-font-weight: 400px;
  --headline-medium-font-size: 28px;
  --headline-medium-line-height: 36px;
  --headline-medium-letter-spacing: 0px;
  /* headline - small */
  --headline-small-font-family-name: Roboto;
  --headline-small-font-family-style: Regular;
  --headline-small-font-weight: 400px;
  --headline-small-font-size: 24px;
  --headline-small-line-height: 32px;
  --headline-small-letter-spacing: 0px;
  /* body - large */
  --body-large-font-family-name: Roboto;
  --body-large-font-family-style: Regular;
  --body-large-font-weight: 400px;
  --body-large-font-size: 16px;
  --body-large-line-height: 24px;
  --body-large-letter-spacing: 0.50px;
  /* body - medium */
  --body-medium-font-family-name: Roboto;
  --body-medium-font-family-style: Regular;
  --body-medium-font-weight: 400px;
  --body-medium-font-size: 14px;
  --body-medium-line-height: 20px;
  --body-medium-letter-spacing: 0.25px;
  /* body - small */
  --body-small-font-family-name: Roboto;
  --body-small-font-family-style: Regular;
  --body-small-font-weight: 400px;
  --body-small-font-size: 12px;
  --body-small-line-height: 16px;
  --body-small-letter-spacing: 0.40px;
  /* label - large */
  --label-large-font-family-name: Roboto;
  --label-large-font-family-style: Medium;
  --label-large-font-weight: 500px;
  --label-large-font-size: 14px;
  --label-large-line-height: 20px;
  --label-large-letter-spacing: 0.10px;
  /* label - medium */
  --label-medium-font-family-name: Roboto;
  --label-medium-font-family-style: Medium;
  --label-medium-font-weight: 500px;
  --label-medium-font-size: 12px;
  --label-medium-line-height: 16px;
  --label-medium-letter-spacing: 0.50px;
  /* label - small */
  --label-small-font-family-name: Roboto;
  --label-small-font-family-style: Medium;
  --label-small-font-weight: 500px;
  --label-small-font-size: 11px;
  --label-small-line-height: 16px;
  --label-small-letter-spacing: 0.50px;
  /* title - large */
  --title-large-font-family-name: Roboto;
  --title-large-font-family-style: Regular;
  --title-large-font-weight: 400px;
  --title-large-font-size: 22px;
  --title-large-line-height: 28px;
  --title-large-letter-spacing: 0px;
  /* title - medium */
  --title-medium-font-family-name: Roboto;
  --title-medium-font-family-style: Medium;
  --title-medium-font-weight: 500px;
  --title-medium-font-size: 16px;
  --title-medium-line-height: 24px;
  --title-medium-letter-spacing: 0.15px;
  /* title - small */
  --title-small-font-family-name: Roboto;
  --title-small-font-family-style: Medium;
  --title-small-font-weight: 500px;
  --title-small-font-size: 14px;
  --title-small-line-height: 20px;
  --title-small-letter-spacing: 0.10px;
}
